#HeaderBox {
	float:left;
	width:500px;
	margin:0 0.2em;
	height: 170px;
}

#cart{
	float:left
	margin: 20px 0px;
	}
	
header {
	width:1100px;
	margin: 0 auto;
}

#HeaderBox #search {
	width:20em;
	height: 5em;
	margin: 5px 135px;
	text-align: right;
	}

#search #searchBar{
	float:right;
	width: 20em;
	margin: 0px 0px;
	background-color:yellow;
	}

#submit {
	background-color:#C2FFED;
	}

#submit:hover{
	background-color:#FFA473;
	}	
	
	/*take everything above here*/ 
	
#buttonBox {
	float:left;
	width: 190px;
	height: 50px;
	margin: 0 50px auto;
}


#banner{
	margin: 0 50px

}

.box{
	float:left;
	width:233px;
	height:300px;
	margin: 0 65px;
}

h2{
	font-family: San-serif;
	font-size: 12px;
	
}


h1  {
	text-align: right;
}