

@font-face {
    font-family: 'DestroyRegular';
    src: url('font/DESTROY_-webfont.eot');
    src: url('font/DESTROY_-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/DESTROY_-webfont.woff') format('woff'),
         url('font/DESTROY_-webfont.ttf') format('truetype'),
         url('font/DESTROY_-webfont.svg#DestroyRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

#HeaderBox {
	float:left;
	width: 35em;
	margin:0 0.2em;
	height:2em;
}

h1 {

	text-align: center;
	margin: 0.5em 3.2em;
}

a#SCart:hover {
	color:#06CC41;
	transition-property: background-color, color;
	transition-duration: 0.5s;
	transition-timing-function: ease-out;
}

#SCart {
	text-decoration: none;
	text-align: left;
	margin: 0 6em 0 0;
	font-size: 8px;
	font-family: 'DestroyRegular';
	color:red;
}

header {
	width:70em;
	height: 2em;
	margin: 0 auto;
	
}

body {
	
	background-color: black;
	background-image:url('images/banner1.jpg');
	background-repeat: no-repeat;
	background-position: center 10em;
	background-size: 60em;
}

#HeaderBox #search {
	width:20em;
	height: 20em;
	margin: -2.5em 40em;
	text-align: right;
	}

#search #searchBar{
	float:right;
	width: 20em;
	/*background-color:yellow;   ******/
	background-image: url('images/searchbg.png');

	}

#submit {
	font-family: 'DestroyRegular';
	background-color: red;
	font-size: 8px;
	background-image: url('images/searchbtn.png');
	}

#submit:hover{
	background-color:#06CC41;
	transition-property: background-color, color;
	transition-duration: 0.5s;
	transition-timing-function: ease-out;
	}

	
	/*take everything above here*/ 
	
#buttonBox {
	float:left;
	width: 190px;
	height: 50px;
	margin: 0 50px auto;
}

/*
.foot {
	float:left;
	height: 1em;
	width: 70em;
} */
.foot {
	float:left;
	/*background-position: center 10em;*/
	/*background-size: 60em;*/
	background-color: green;
	height: 2em;
	width: 60em;
	margin: -3.1em 6.2em;
	border: 1px solid green;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
}

.foot img {
	height: 4em;
	margin: 0 0 0 0em;
}

hr {
	width:60em;
}

img#you {
	margin-left: -0.7em;
}	

#copy {
	float:left;
	font-family: 'DestroyRegular';
	font-size: 8px;
	width: 23em;
	margin: 0 -15em 0 5em;
	color:white;
	}

#foot2 {
	margin: 1.1em 88em;
	width: 10em;
}	

#banner1 {
	width:50em;
	margin:0 10em;
}



nav {
	text-align: left;
	font-family: 'DestroyRegular';
	margin: 15em 5em;
	font-size: 18px;
	width: 15em;
	height: 15em;
}

nav ul ul {
	display: none;
}

nav ul li:hover > ul {
		display: block;
		width: 200px;
}

nav ul {
	float:left;
	list-style: none;
	position: relative;
	background-color: gray opacity:0;

}

/*  DROPDOWN MENU BELOW  */
	
nav ul li:hover {
	background: black opacity:0;

		}
		
nav ul li:hover a {			
	color: red;
}
		
nav ul li a {
		display: block; 
		padding: 8px 10px;
		margin: 0 2em 0 0;
		color: black; 
		text-decoration: none;
		transition-property: background-color, color;
		transition-duration: 0.5s;
		transition-timing-function: ease-out;
		width: 13em;
		}
			
nav ul ul {
		background: black opacity:0; 
		border-radius: 0px; 
		padding: 0;
		position: absolute; 
		margin: -2.3em 11.5em;
	}

nav ul ul li a:hover {
	background: white opacity:0;
	color: #06CC41;
	transition-property: background-color, color;
	transition-duration: 0.5s;
	transition-timing-function: ease-out;
}