html, body, h1, form, fieldset, legend, ol, li {
	margin: 0;
	padding: 0;
}

form#payment {
	background: #9cbc2c;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding: 20px;
	width: 400px;
}

form#payment legend {
	color: #1B1EE0;
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 20px;
	text-shadow: 0 1px 1px #10128F;
	border-style:dashed
	border-width: 2px;
}






 
 