#HeaderBox {
	float:left;
	width:500px;
	margin:0 0.2em;
	height: 170px;
}

#cart{
	float:left
	margin: 20px 0px;
	}
	
header {
	width:1100px;
	margin: 0 auto;
}

#HeaderBox #search {
	width:20em;
	height: 5em;
	margin: 5px 90px;
	text-align: right;
	}

#search #searchBar{
	float:right;
	width: 20em;
	margin: 0px 0px;
	background-color:yellow;
	}

#submit {
	background-color:#C2FFED;
	}

#submit:hover{
	background-color:#FFA473;
	}	

/*take everything above here*/ 


html, body, h1, form, fieldset, legend, ol, li {
	margin: 40;
	padding: 0;	
}

<<<<<<< HEAD
h1 {
	margin: 0px 10px;
	}
=======
form#payment {
	padding: 0px;
	width: 600px;
}
>>>>>>> 85a105f07e45b73d8fdee56c5a7fcac6aaa7f6ed

form	{
	width: 800px;
	margin: 10px;
	}
	
ol {
	list-style-type:none;
	}
	
label {
	margin: 10px;
	}
	
form#payment legend {
	color: #ED1C24;
	font-family: chalkduster;
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 20px;
	text-shadow: 0 1px 1px #10128F;
	border-style:dotted;
	border-width: 2px;
	margin: 3px;
}

form#payment fieldset{
	border-style:dashed;
}

form#payment textarea {
	background: #ffffff;
	border: dotted;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	font: italic 13px;
	outline: none;
	padding: 5px;
	width: 200px;
}


/*form#payment input    {
width:375px;
display:block;
border: 1px solid #999;
height: 25px;
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}*/

form#payment input[type=radio] {
	margin-right: 5px;
}

form#payment input {
	float: right;
	width: 200px;

}

form#payment button {
	font: chalkduster;
	border: none;
}

form#payment button:hover {
	background:#80C944;
}





 
 