#HeaderBox {
	float:left;
	width:500px;
	margin:0 0.2em;
	height: 170px;
}

#cart{
	margin: 20px 0px;
	}
	
header {
	width:1100px;
	margin: 0 auto;
}

#HeaderBox #search {
	width:20em;
	height: 5em;
	margin: 5px 90px;
	text-align: right;
	}

#search #searchBar{
	float:right;
	width: 20em;
	margin: 0px 0px;
	background-color:yellow;
	}

#submit {
	background-color:#C2FFED;
	}

#submit:hover{
	background-color:#FFA473;
	}	

/*take everything above here*/ 


html, body, h1, form, fieldset, legend, ol, li {
	margin: 40;
	padding: 0;
	list-style-type: none;	
}

h1 {
	margin: 0px 10px;
}

form#payment {
	padding: 0px;
	width: 600px;
}

form#payment legend {
	color: #ED1C24;
	font-family: chalkduster;
	font-size: 16px;
	font-weight: bold;
	text-shadow: 0 1px 1px #10128F;
	border-style:dotted;
	border-width: 2px;
}

form#payment fieldset{
	border-style:dashed;
}

form#payment textarea {
	float: right;
	background: #ffffff;
	border: solid;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	font: italic 13px;
	outline: none;

	width: 200px;
}

form#payment select{
	float: right;
	width: 200px;

}

/*form#payment input[type=radio] {

}*/

form#payment input {
	float: right;
	width: 200px;

}

form#payment button {
	font: chalkduster;
	border: none;
}

form#payment button:hover {
	background:#80C944;
}





 
 