#HeaderBox {
	float:left;
	width:500px;
	margin:0 0.2em;
	height: 170px;
}

#cart{
	float:left;
	margin: 0px 0px 20px 60px;
	}
	
header {
	width:1100px;
	margin: 0 auto;
}

#HeaderBox #search {
	width:20em;
	height: 5em;
	margin: 5px 90px;
	text-align: right;
	}

#search #searchBar{
	float:right;
	width: 20em;
	margin: 0px 0px;
	background-color:yellow;
	}

#submit {
	background-color:#C2FFED;
	}

#submit:hover{
	background-color:#FFA473;
	}	
	
h1  {
	text-align: right;
}

h2	{
	text-align: right;
	}
/*
.buttons {
	
	width: 1050px;
	height: 50px;
	border: 1px solid black;
	margin: 0px 25px;
	}
*/
	
#buttonBox {
	float:left;
	width: 190px;
	height: 50px;
	margin: 0 50px auto;
}


.menuBox {
	font-family: Chalkduster;
	src: url('Font/Chalkduster.tff');
	font-size: 20px;
	width: 220px;
	height: 940px;
	background-color: #B8E7FF;
	margin: 0px 25px;
	float: left;
	text-align: center;
	}
	
#menuTitle	{
	color: #6150FA;
	}
	
	
#price {
	font-size: 16px;
	color: #FAA850;
	}	
	
#age {
	font-size: 16px;
	color: #61E04A;
	}	
	
#bestSeller {
	font-size: 16px;
	color: #A850FA;
	}	
	
p	{
	font-size: 14px;
	text-align:center;
	font-family: Chalkduster;
	src: url('Font/Chalkduster.tff');
	}
	
#description {
	color:Red;
	}
	
.itemBox {
	background-color: #E3FCFC;
	width: 810px;
	height: 940px;
	margin: 0px 258px;
	}
	
.items {
	float: left;
	width: 200px;
	height: 250px;
	margin: 30px 33px;
	
	}

.foot {
	float:left;
	margin: 0px 159px 0px 120px;
	}	
	
#copy {
	font-family: Chalkduster;
	src: url('Font/Chalkduster.tff');
	text-align: left;
	font-size: 10px;
	}
	
ul
{
	text-align:left;
    list-style-type: none;
}

#P2, #P3, #P4, #P5 {
	color: #61E04A;
	text-decoration:none;
	}

#P6, #P7, #P8, #P9  {
	color: #FAA850;
	text-decoration:none;
	}
	
#P10, #P11, #P12 {
	color: #A850FA;
	text-decoration:none;
	}

#addCart {
	background-color:#C2FFED;
	}

#addCart:hover{
	background-color:#FFA473;
	}	
	