
/* SEARCH --------------------------------------------------------*/

.top-search{
	position: absolute;
	top:47px;
	right: 30px;
}

#searchform #s{
	color: #7e7e7e;
	font-size: 10px;
	width: 180px;
	height: 28px;
	padding: 0px 35px 0px 10px;
	border: 0;
	background: url(../image/search.png) no-repeat transparent;	
}

#searchform #searchsubmit{
	position: absolute; 
	top: 0px;
	right: 10px;
	width: 30px;
	height: 25px;
	border: 0px;
	background: transparent;
}

#body{
	background-color: black;

}