#HeaderBox {
	float:left;
	width:500px;
	margin:0 0.2em;
	height: 170px;
}

#cart{
	float:left
	margin: 20px 0px;
	}
	
header {
	width:1100px;
	margin: 0 auto;
}

#HeaderBox #search {
	width:20em;
	height: 5em;
	margin: 5px 135px;
	text-align: right;
	}

#search #searchBar{
	float:right;
	width: 20em;
	margin: 0px 0px;
	background-color:yellow;
	}

#submit {
	background-color:#C2FFED;
	}

#submit:hover{
	background-color:#FFA473;
	}	
	
h1  {
	text-align: right;
}

h2	{
	text-align: right;
	}
/*
.buttons {
	
	width: 1050px;
	height: 50px;
	border: 1px solid black;
	margin: 0px 25px;
	}
*/
	
#buttonBox {
	float:left;
	width: 190px;
	height: 50px;
	margin: 0 50px auto;
}


.menuBox {
	font-family: Chalkduster;
	src: url('Font/Chalkduster.tff');
	font-size: 20px;
	width: 810px;
	height: 500px;
	background-color: #B8E7FF;
	margin: 0px 25px 0px 25px;
	float: left;
	text-align: center;
	}
	
.menuBox p	{
	font-size: 28px;
	text-decoration: underline;
	text-align: center;
	font-family: Chalkduster;
	src: url('Font/Chalkduster.tff');
	}
	
.itemBox p	{
	font-size: 16px;
	text-align: center;
	font-family: Chalkduster;
	src: url('Font/Chalkduster.tff');
	}
	
#description {
	color:Red;
	}
	
.itemBox {
	float:left;
	background-color: #E3FCFC;
	width: 220px;
	height: 500px;
	margin: 0px 0px 0px 0px;
	}
	
.foot {
	float:left;
	margin: 0px 139px;
	}
	
#copy {
	font-family: Chalkduster;
	src: url('Font/Chalkduster.tff');
	text-align: left;
	font-size: 10px;
	}
	
#Home {
	font-family: Chalkduster;
	src: url('Font/Chalkduster.tff');
	background-color: #23D93E;
	color: yellow;
	text-align: center;
	margin: 20px;
	}

#Home2 {
	font-family: Chalkduster;
	src: url('Font/Chalkduster.tff');
	background-color: #E64E4E;
	color: yellow;
	text-align: center;
	margin: 20px;
	}
		
.menuBox .cartP {
	float:left;
	text-align: left;
	margin: 0px 20px 0px 100px;
	}

.menuBox .description {
	font-size: 12px;
	text-decoration: none;
	text-align:left;
	margin: 0px 20px 0px 20px;
}	